<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <configSections>
    <section name="AMSettings"
    		type="System.Configuration.AppSettingsSection" />
    <section name="ADSettings"
    		type="System.Configuration.AppSettingsSection" />
    <section name="GroupMappings"
      type="System.Configuration.AppSettingsSection" />
    <section name="FieldMappings"
      type="System.Configuration.AppSettingsSection" />
  </configSections>

  <AMSettings>
    <add key="BaseUrl" value="https://dashboard.alertmedia.com/api"/>
    <add key="ClientID" value=""/>
    <add key="ClientSecret" value=""/>
    <add key="Customer" value=""/>
    <add key="GroupMappingType" value=""/> 
    <add key="ADUserFieldForGroupMapping" value="" />
    <add key="DeleteUsers" value="0" />
  </AMSettings>

  <ADSettings>
    <add key="LdapUrl" value="LDAP://your-AD-Server/dc=yourdomain,dc=local"/>
    <add key="UserName" value="youraccount@yourdomain.local"/>
    <add key="Password" value=""/>
  </ADSettings>

  <GroupMappings>
    
  </GroupMappings>

  <FieldMappings>
      <add key="first_name" value="givenname" />
      <add key="last_name" value="sn" />
      <add key="email" value="mail" />
      <add key="date_joined" value="date_joined" />
      <add key="last_login" value="last_login" />
      <add key="title" value="title" />
      <add key="email2" value="email2" />
      <add key="mobile_phone" value="mobile" />
      <add key="mobile_phone2" value="otherMobile" />
      <add key="home_phone" value="homePhone" />
      <add key="office_phone" value="telephoneNumber" />
      <add key="address" value="streetaddress" />
      <add key="address2" value="postofficebox" />
      <add key="city" value="l" />
      <add key="state" value="st" />
      <add key="country" value="c" />
      <add key="zipcode" value="postalCode" />
      <add key="custom1" value="custom1" />
      <add key="custom2" value="custom2" />
      <add key="custom3" value="custom3" />
      <add key="notes" value="notes" />
      <add key="outbound_number" value="outbound_number" />
      <add key="customer_user_id" value="uid" />
  </FieldMappings>

</configuration>
